* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
}

.nav {
    background-color: rgb(13, 156, 156);
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.5;
    position: fixed;
    top: 0;
    z-index: 1;
    opacity: 0.7;
}

.logo {
    display: flex;
    width: 19%;
    justify-content: space-around;
    align-items: center;
    margin-left: 100px;

}

.logo h2 {
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 5px;
    color: white;
}

.logo img {
    width: 30px;
    height: 30px;
    border-radius: 40px;
}
.list{
    margin-right: 100px;
}
.list ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.list ul li{
    padding: 0 15px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 550px;
    background: url("Image.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    top: 0;

}

.body h2 {
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 10px;
    color: blanchedalmond;
}

.body a {
    padding: 5px 15px;
    background-color: rgb(18, 185, 185);
    letter-spacing: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: white;
    position: relative;
     top: 6.3em;

}

.boxs {
    width: 100%;
    height: 300px;
    position: relative;
    bottom: 100px;
    display: flex;
    justify-content: center;
}

.box {
    width: 20%;
    height: 300px;
    background-color: whitesmoke;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box i {
    width: 50px;
    height: 50px;
    border: 4px solid;
    color: rgb(7, 7, 75);
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-size: xx-large;
}

.box h3 {
    margin-top: 7px;
    margin-bottom: 20px;
    color: rgb(7, 7, 75);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box p {
    width: 250px;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box button {
    padding: 10px 25px;
    background-color: rgb(18, 185, 185);
    color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.f-box {
    width: 100%;
    height: 200px;
    margin-top: 30px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.f-box h1 {
    color: rgb(18, 185, 185);
    letter-spacing: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
    font-size: large;
}

.f-box p {
    color: rgb(153, 149, 149);
}
.footer{
    display: flex;
    justify-content: space-evenly;
    color: white;
    width: 100%;
    height: 400px;
    background-color: rgb(18, 185, 185);
}
.footer-box {
    margin-top: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.footer-box h3{
    padding: 20px 0;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer-box ul{
    list-style: none;
}
.footer-box ul li{
    padding: 10px 0;
}
.footer-box p{
    padding: 10px 0;
}
.footer-box input{
    margin: 5px 0;
    outline: none;
    color: rgb(13, 156, 156);
}
.footer-box .one{
    height: 25px;
}
.footer-box .two{
    height: 70px;
}
.footer-box .three{
    width: 70px;
    height: 25px;
}
.footer-box button{
    background: none;
    border: none;
    color: white;
}
